body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #D496FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

#question {
    color: #440C6A;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    background-color: #ffff;
    color: #6F00BC;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
}


#noContainer {
    position: inline-block;
    width: 25vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#no {
    position: absolute;
    left: 52%;
    top: 16em;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

#yes {
    position: absolute;
    left: 47%;
    top: 16em;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}

  body:hover {
    background-color:#954AC8;
    cursor: pointer;
  }